{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    {{ form|crispy }}
        <input type="file" name="photo" accept="image/*">
    <p><button type="submit" class="input-group-text">Завантажити</button></p>
</form>
{% endblock %}