{% extends "base.html" %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{form.errors}}
    {{ form.as_p }}
    <p><input type="submit" value="Додати колекцію"></p>
  </form>
{% endblock %}