
<!doctype html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Yatsenko Anastasiia? KNT-129">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Діафрагма</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">



    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="custom.css">


    <style>
    body {
      color: #f5fcee;
      font-family: 'Haettenschweiler', Arial;
      height: 100%
    }
    .album {
      color: #38352e;
      background-color: #f5fcee;
    }
    .photo_info {
      margin-top: 20px;
      color: #38352e;
    }
    .row {
       margin-bottom:10px;
    }
    .navbar {
      background-color: #38352e;
    }
    a {
      color: #f5fcee;
      text-decoration: none;
    }
    a:hover {
      color: #f5fcee;
      text-decoration: none;
    }
    .main {
      color: #f5fcee;
    }
    .card-body {
      background-color: #c8c4bc;
    }
    .input-group-text {
      background-color: #38352e;
      color: #f5fcee;
    }
    .input-group-text-login {
      background-color: #38352e;
      color: #f5fcee;
      width: 25vh;
      float: center;
      margin: 5px;
      border-radius: 3px;
    }
    footer {
      background-color: #f5fcee;
    }
    input[type="file"] {
      width: 100%;
      height: 50vh;
      display: inline-block;
      background-color: #c8c4bc;
      padding: 6px 12px;
      text-align:center;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .name {
      color: #38352e;
    }
    ul {
      width: 100%;
      height: 360px;
      background-color: #fff;
      overflow-y: scroll;
    }
    </style>

  </head>
  <body>
    
<header>
  <div class="navbar">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><img src="../diaphragm.png" width="40vh" style="margin-right:5px"/></svg>
        <strong>Діафрагма</strong>
      </a>
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/chat_list">Повідомлення</a>
      {% else %}
      <div>
        <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/collections">Мої колекції</a>
        <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/add">Додати фото</a>
        <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/profile">Профіль</a>
      </div>
      {% endif %}
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/logout">Вийти</a>
      {% else %}
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation" href="/login">Увійти</a>

      {% endif %}
    </div>
  </div>
</header>

<main>


<div class="album py-5">
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
</div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">&copy; YatsenkoAnastasiia</p>
  </div>
</footer>


    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      
  </body>
</html>
