{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
        <div class="users-container">
            <div class="row">
                {% for user in chats %}
                <div class="row" style="margin-bottom: 10px; float:center">
                    <div class="col">
                        <img class="rounded-circle" src="{{user.avatar}}" width="50vw"/>
                    </div>
                    <div class="col-8">
                        <div class="row"><a href="/chat_with_{{user.pk}}"  style="color:#38352e"><strong>{{user.user.username}}</strong></a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}