{% extends "base.html" %}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{collection.name}}</h1>
      </div>
    </div>
</section>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for photo in photo_list %}
      <div class="col">
          <div class="card shadow-sm">
              <a href="/detail_{{photo.pk}}"><img src="{{photo.photo.url}}" width="100%" height="100%" /></a>
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <a href="/like_{{photo.pk}}"><img src="../like.png" width="30vh" style="margin-right:5px"/></a>
                          <a href="/detail_{{photo.pk}}"><img src="../speech-bubble.png" width="30vh" style="margin-right:5px"/></a>
                      </div>
                      <h5 align="right">{{ photo.photographer.user.username }}</h5>
                  </div>
              </div>
          </div>
      </div>
{% endfor %}
</div>
{% endblock %}

