{% extends "base.html" %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for collect in collections_list %}
      <div class="col">
          <div class="card shadow-sm">
              <a href="/collection_{{collect.pk}}"><img src="{{collect.cover.url}}" width="100%" height="100%" /></a>
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                          <h6 align="center">{{ collect.name }}</h6>
                      </div>
                  </div>
              </div>
          </div>
      </div>
{% endfor %}
</div>
{% endblock %}

