{% extends "base.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    {{form.errors}}
    <div class="row">
        <div class="col">
            <img src="{{photo.photo.url}}" width="600vw"/>
        </div>
        <div class="col">
            <div class="row"><div class="col-5"><h2>{{photo.photographer.user.username}}</h2></div>
            {% if user.is_superuser %}
            <div class="col-5" align="right">
                <a href="/del_photo_{{photo.pk}}"><img src="../del.png" width="30vh" style="margin-right:5px"/></a>
            </div>
            {% endif %}
            </div>
            {% if not user.is_superuser %}
            <div class="row">
                <div class="col">
                    <div class="input-group">
                         <select class="form-select" name="select_collection">
                             <option value="0">Додати колекцію...</option>
                            {% for collect in collections %}
                            <option value={{collect.pk}}>{{ collect.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="input-group-text" name="collect_submit">Додати до колекції</button>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="photo_info">
                <div class="row">
                    <div class="col-1"><a href="/like_{{photo.pk}}">
                        <img src="../like.png" width="30vh" style="margin-right:5px"/></a>
                    </div>
                    <div class="col-5">
                        {{photo.likes_num}} вподобань
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <img src="../speech-bubble.png" width="30vh" style="margin-right:5px"/>
                    </div>
                    <div class="col-5">
                        {{comments.count}} коментарів
                    </div>
                </div>
            </div>
    </div>
</form>
<form method="post">
    {% csrf_token %}
    {{com_form.errors}}
    {% if not user.is_superuser %}
    <div class="row" style="margin-top: 10px">
        <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" name="text"></textarea>
            <button type="submit" class="input-group-text" name="comment_submit">Прокоментувати</button>
        </div>
    </div>
    {% endif %}
    <div class="row" style="margin-top: 10px">
        {% for comment in comments %}
        <div class="row">
            <div class="col-1">
                <img class="rounded-circle" src="{{comment.user.avatar}}" width="50vw"/>
            </div>
            <div class="col-7">
                <div class="row"><strong>{{comment.user.user.username}}</strong></div>
                <div class="row">{{ comment.text }}</div>
            </div>
            {% if user.is_superuser %}
            <div class="col" style="float:right;">
                <a href="/del_comment_{{comment.pk}}"><img src="../del.png" width="20vh" style="margin-right:5px"/></a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}
