{% extends "base.html" %}
{% block content %}
<section>
    <div class="row py-lg-5">
      <div class="col-1" style="margin-right: 25px">
        <img class="rounded-circle" src="{{user.avatar}}" width="100vw"/>
      </div>
      <div class="col-7" align="left">
            <h2>{{user.user.username}}</h2>
      </div>
      <div class="col-3" align="right">
          <a href="/chat" class="input-group-text">Зв'язок з адміністратором</a>
      </div>
    </div>
  </section>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for photo in photo_list %}
      <div class="col">
          <div class="card shadow-sm">
              <a href="/detail_{{photo.pk}}"><img src="{{photo.photo.url}}" width="100%" height="100%" /></a>
          </div>
      </div>
{% endfor %}
</div>
{% endblock %}