{% extends "base.html" %}
{% block content %}
  <form method="POST">
    {% csrf_token %}
    <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="row">
        {{ form.as_p }}
      </div>
      <div class="row" style="flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y);">
        <div class="col"><input type="submit" class="input-group-text-login" value="Зареєструватися"></div>
      </div>
    </div>
  </section>
  </form>
{% endblock %}