{% extends "base.html" %}
{% block content %}
<div class="container">
    <ul>
        {% for msg in chats %}
        {% if msg.author.is_superuser %}
        <li>
            <div class="row">
                <div class="col-1">
                    <img class="rounded-circle" src="../admin_avatar.jpg" width="50vw"/>
                </div>
                <div class="col-8" align="left">
                    <div class="chat-name">Administrator</div>
                    <div class="chat-text">{{msg.text}}</div>
                    <div class="chat-hour">{{msg.datetime}}
                    </div>
                </div>
            </div>
        </li>
        {% else %}
        <li>
            <div class="row">
                <div class="col-1">
                    <img class="rounded-circle" src="{{msg.author.photographer.avatar}}" width="50vw"/>
                </div>
                <div class="col-8">
                    <div class="chat-name">{{msg.author.username}}</div>
                    <div class="chat-text">{{msg.text}}</div>
                    <div class="chat-hour">{{msg.datetime}}
                    </div>
                </div>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    <div class="input-group">
        <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
        <button type="submit" class="input-group-text" name="comment_submit">Відправити</button>
    </div>
</div>
{% endblock %}